.tab-container {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .tab-header {
    display: flex;
    border-bottom: 2px solid #bf57ef;
  }
  .tab-header div {
    width: 100%;
  }
  .tab_item {
    display: inline-flex;
    padding: 20px 30px;
    width: 600px;
    font-size: 22px;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #555;
    background: #3ff47b;
    font-weight: 600;
  }
  .active {
    background: #a63ff4;
    color: #fff;
    border-color: #007bff;
  }
  .tab-content {
    padding: 20px;
    width: 90%;
    max-width: 800px;
    height: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: none;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  